:root{
  --primary: rgb(219, 14, 93);
  --secondary: #8c3aff;
  --dark: #131a26;
  --light: #eee;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fira sans', sans-serif;
}
body {
  background-color: var(--light);
}
.App
{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.claculator{
  width: 100%;
  max-width: 400px;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}
.result{
  padding: 16px;
  background-color: var(--dark);
  color: var(--light);
  text-align: right;
  font-size: 25px;
  font-weight: 600;
}
.result span{
  font-size: 15px;
  color: gray;
}
button{
  appearance: none;
  border: none;
  outline: none;
  color: white;
  font-size: 25px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}
button:hover{
  opacity: 0.8;
}
.operators{
  display: flex;
}
.operators button{
  flex: 1 1 0%;
  background-color: var(--primary);
  font-weight: 600;
}
.numbers{
  display: flex;
  flex-wrap: wrap;
}
.numbers button{
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background-color: var(--dark);
}